/* Super-duper small devices, common styles */

html {
  overflow-x: hidden;
}

body {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}

h1 { font-weight: 100; font-size: 8rem; }
h2 { font-weight: 200; font-size: 4rem; }
h3 { font-weight: 100; font-size: 3.8rem; }

.fade-in-block {
  opacity: 0;
}

.navbar-default {
  background-color: #fff;
  box-shadow: none;
}

.navbar-shadow {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.btn-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

#hello {
  padding-top: 100px;
  margin-bottom: -50px;
}

#studio {
  padding-top: 100px;
  width: 100%;
}

.title {
  margin-bottom: 10rem;
}

.title-text {
  font-weight: 300;
  font-size: 2rem;
}

#pros .thumbnail {
  border: none;
  background-color: transparent;
}

#pros .thumbnail h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff !important;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  display: inline;
  vertical-align: text-top;
}

#feedbacks {
  margin-top: 60px;
}

#feedbacks img {
  margin-right: 1rem;
  margin-left: 1rem;
}

#feedbacks blockquote {
  border: none;
}

#feedbacks .media {
  margin-top: 60px;
}

#feedbacks .media-body .media-heading {
  margin-left: 23px;
  margin-right: 23px;
}

#hardware {
  padding-top: 100px;
}

.hw-header {
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 5rem;
}

#contacts {
  padding-top: 100px;
}

.map-wrapper {
  overflow: hidden;
  height: 400px;
}

.noscroll-overlay {
  background: transparent;
  position:relative;
  width:100%;
  height:400px; /* your iframe height */
  top:400px;  /* your iframe height */
  margin-top:-400px;  /* your iframe height */
}

.noscroll-overlay-disabled {
  display: none;
}

.contact-info {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

#main-footer {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 50px;
  background: #f0f0f0;
}

/* Responsive iFrame */

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

/* NOVODRUM SCHOOL */

#novodrum-hello {
	padding-top: 250px;
	margin-bottom: -50px;
}

#novodrum-mentor img {
	margin-top: 50px;
}

#novodrum-mentor {
	margin-bottom: 50px;
}

#novodrum-problem-list {
	margin: auto;
}
.responsive-iframe-container iframe,
.responsive-iframe-container object,
.responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

/* helper classes */
.visible-ss-block {display: block !important;}
.visible-ss-inline {display: inline !important;}
.visible-ss-inline-block {display: inline-block !important;}

.bg-white {background-color: #fff !important;}
.bg-default {background-color: #333 !important;}
.bg-light {background-color: #ccc !important;}
.bg-red {background-color: #d79 !important;}
.bg-blue {background-color: #79d !important;}
.bg-green {background-color: #7d9 !important;}
.bg-yellow {background-color: #dc7 !important;}
.bg-alternate { background-color: #fafafa !important; }

.category-default {border-color: #333 !important;}
.category-light {border-color: #ccc !important;}
.category-red {border-color: #d79 !important;}
.category-blue {border-color: #79d !important;}
.category-green {border-color: #7d9 !important;}
.category-yellow {border-color: #dc7 !important;}

@media (max-width: 512px) {

  h3 {
    font-size: 3rem;
  }

  .hidden-ss {
    display: none !important;
  }

  .release-item > .release-content h2 {
    margin-bottom: 30px;
  }

  .release-item-small {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
  }

  #studio .col-xs-offset-1 {
    margin-left: auto;
  }

  #studio .col-xs-10,
  #pros .col-xs-6  {
    width: 100%;
  }

  #feedbacks .media {
    text-align: center !important;
  }

  #feedbacks .media .media-body blockquote,
  #feedbacks .media .media-body blockquote small {
    padding: 0 !important;
    text-align: center !important;
  }

  #feedbacks .media .media-body blockquote small::before,
  #feedbacks .media .media-body blockquote small::after {
    content: none !important;
  }

  #feedbacks .media .media-body  h4 .media-heading {
    font-size: 1.3rem;
  }
}

/* Extra small devices (phones, less than 768px) */
@media (min-width: 512px) {

  #releases {
    background-color: #eee;
    padding-bottom: 30px;
  }

  .release-item {
    margin-bottom: 1rem;
  }

  .release-item-small {
    position: relative;
    background-color: transparent;
    font-size: 2rem !important;
    padding: 1rem;
  }

  .release-item-small .release-bg {
    display: block !important;
  }

  .release-item-small > .release-content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    line-height: 2.3rem;
  }

  .release-item-small:hover > .release-content {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  }

  .release-item-small > .release-content h3 {
    color: #fff;
  }
  .release-item-small > .release-content p {
    color: #ccc;
  }

  #studio {
    text-align: center;
  }

  #about {
    margin-bottom: 60px;
  }

  /* ss means super small */
  .visible-ss-block,
  .visible-ss-inline,
  .visible-ss-inline-block {
    display: none !important;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  #pros .thumbnail h3 {
    color: #333 !important;
    text-shadow: none;
    font-weight: 300;
  }

  #pros .bg-red,
  #pros .bg-green,
  #pros .bg-blue,
  #pros .bg-yellow {
    background-color: transparent !important;
  }

  #hardware .row {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .navbar-hide {
    display: none;
  }

  #pros .thumbnail {
    display: flex;
    align-items: center;
    height: 10rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .release-item-small {
    padding-top: 0;
    padding-bottom: 1rem;
  }

  #studio, #hardware, #novodrum-problem-list {
    width: 80%;
  }

}

@media (max-width: 1200px) {

  .navbar-right {
    float: none !important;
    margin-right: auto;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .navbar > .container-fluid {
    width: 1200px;
  }

  #releases {
    width: 1200px;
    background-color: transparent;
  }

  #studio, #hardware, #novodrum-problem-list {
    width: 960px;
  }
}
