.hidden {
  display: none !important;
}

#banner img.logo {
  display: block;
  position: relative;
  width: 100px;
  height: auto;
  margin: 0 auto 50px auto;
}

header img.logo {
  display: inline-block;
  height: 80%;
  width: auto;
  float: left;
  padding: 0.4em 0 0 0;
  margin-right: 0.6em;
}

div.form {
  width: 400px; }

input[type="button"].success,
input[type="submit"].success,
input[type="reset"].success {
  background-color: #33ED6B !important;
}

.map-wrapper {
  position: relative;
}

.map-overlay {
    width  : 100%;
    height : 300px;
    background: black;
    position: absolute;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    z-index: 99;
}
