@import "libs/skel";

@include skel-breakpoints((
  xlarge: '(max-width: 1680px)',
  large: '(max-width: 1280px)',
  medium: '(max-width: 980px)',
  small: '(max-width: 736px)',
  xsmall: '(max-width: 480px)'
));

/* Basic */

@-ms-viewport {
  width: device-width;
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

.tiles {
  margin: 1.5em 1.5em 1.5em -1.5em;
  padding-left: 1.5em;
}

.tile-wrapper {
  height: 300px;
  padding-left: 1.5em;
  padding-bottom: 1.5em;
}

.tile-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.tile-panel {

  position: relative;
  height: 100%;

  opacity: 0;
  background: rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5));
  @include vendor('transition', 'opacity 0.5s ease');

  &:hover {
    opacity: 1;
  }

  @include breakpoint(small) {
    opacity: 1;
  }
}

.tile-text {

  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 0 20px;

  h1, h2, h3 {
    font-size: 1em;
    letter-spacing: 0;
    // white-space: nowrap;
    // overflow: hidden !important;
    // text-overflow: ellipsis;
  }

  p {
    font-size: 1em;
    // overflow-y: hidden !important;
    // text-overflow: ellipsis;
  }
}
