@import "libs/_skel";


.tiles {
  width: 100vw;
  margin-left: 0;
}

.tile-wrapper {
  @include breakpoint(xsmall) {
    padding-left: 0;
    width: 100%;
    height: 400px;
  }
}

.tile-panel {
  @include breakpoint(xsmall) {
    width: 100%;
    height: 100px;
  }
}

.tile-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include breakpoint(xsmall) {
    height: 300px;
  }
}
