// BBC BEGIN
style.
  #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-input-from, #bbc-widget-container #bbc-widget-content #bbc-widget-form #search_from_name{
  background: #fff url(https://s3-eu-west-1.amazonaws.com/blogstatics/images/ukraine/partners/poin-a-widget_v2_0.png) no-repeat 6px 50%;
  }
  #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-input-to, #bbc-widget-container #bbc-widget-content #bbc-widget-form #search_to_name{
  background: #fff url(https://s3-eu-west-1.amazonaws.com/blogstatics/images/ukraine/partners/poin-b-widget_v2_0.png) no-repeat 6px 50%;
  }
  img.bbc-pix-image{
  background: #fff url(https://s3-eu-west-1.amazonaws.com/blogstatics/images/ukraine/partners/widget_v2_0.png) no-repeat 0px 0px;
  }
  .bbc-pix-image.bbc-logo-image{
  width: 147px;
  height: 25px
  }
  #bbc-widget-container{
  position: relative;
  overflow: hidden;
  font-family: arial, helvetica, sans-serif;
  zoom: 1;
  overflow: hidden;
  }
  .bbc-bg{
  padding: 0.5%;}
  .bbc-widget-tabs{ text-align: left;}
  h1#bbc-widget-title-second-line a {
  }
  h1#bbc-widget-title-second-line {
  margin-bottom: 0px !important;
  margin-top: 0;
  color: #404040;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  }
  #bbc-widget-form tbody{
  border:none;}
  #bbc-widget-container #bbc-widget-content{
  border-top: none;
  padding: 12px 12px 8px 12px;
  }
  #bbc-widget-container #bbc-widget-content #bbc-widget-form label{
  display: none;
  }
  #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-input-from,.bbc-widget-static #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-input-to,.bbc-widget-static #bbc-widget-container #bbc-widget-content #bbc-widget-form #search_from_name,.bbc-widget-static #bbc-widget-container #bbc-widget-content #bbc-widget-form #search_to_name{
  height: 36px;
  margin: 0 0 0px 0;
  border: 1px solid #eeeeee;
  width: 99.9%;
  text-indent: 36px;
  font-size: 16px;
  margin-bottom: 1px;
  color: #404040;
  font-family: arial, helvetica, sans-serif;
  padding: 2px 0;
  }
  #bbc-widget-container #bbc-widget-content #bbc-widget-form #search_from_name,.bbc-widget-static #bbc-widget-container #bbc-widget-content #bbc-widget-form #search_to_name,.bbc-widget-static #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-input-to{
  border-top-color:#fff;
  margin-top: -1px;}
  #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-input-from:focus,.bbc-widget-static #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-input-to:focus,.bbc-widget-static #bbc-widget-container #bbc-widget-content #bbc-widget-form #search_from_name:focus,.bbc-widget-static #bbc-widget-container #bbc-widget-content #bbc-widget-form #search_to_name:focus{
  border-color: #00b588;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  }
  #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-layer-button{margin-top:15px;}
  #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-button{margin:0;text-transform: none;/*text-shadow: 1px 1px 0px rgba(150, 150, 150, 1);*/display:inline-block;margin-bottom:0;padding:4px 10px 4px;line-height:18px;font-family:Arial,Helvetica,sans-serif;color:#fff!important;font-size:13px;text-align:center;vertical-align:middle;cursor:pointer;background:#0ca9fa;border:1px solid #0ca9fa;font-weight:normal;-webkit-box-shadow: 0px 2px 0px 0px rgba(4,138,207,1);-moz-box-shadow: 0px 2px 0px 0px rgba(4,138,207,1);box-shadow: 0px 2px 0px 0px rgba(4,138,207,1);font-size: 18px; height:39px;width: 100%;margin-bottom:2px;border-radius: 3px;}
  #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-button:hover, #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-button:active{color:#fff;text-decoration:none;background-image:none;}
  #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-button:hover{background-color:#0e9cdd;border-color:#0e9cdd;}
  #bbc-widget-container #bbc-widget-content #bbc-widget-form #bbc-widget-button:active{background-color:#0e9cdd;border-color:#0e9cdd;outline:0; margin-top:2px;margin-bottom:0px; box-shadow:none;}
  #bbc-widget-container:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  }
  * html #bbc-widget-container{
  height: 1%;
  }
  /*______________           */
  .passenger {
  background: #fff; /* Old browsers */
  }
  .driver {
  background: #FFF; /* Old browsers */
  }
  #bbc-widget-header{
  padding: 4px 0 0 0;
  color: #fff;
  text-align: center;
  overflow: hidden;
  }
  /* Базовый контейнер табов */
  .bbc-widget-tabs {
  min-width: 240px;
  max-width: 100%;
  padding: 0px;
  margin: 0 auto;
  }
  /* Стили секций с содержанием */
  section.section-display-none{
  display: none;
  background: #fff;
  border: 1px solid #ddd;
  }
  input.bbc-input-none {
  display: none;
  }
  label.bbc-label-passenger,label.bbc-label-driver {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 15px;
  font-weight: 600;
  text-align: center;
  color: #06353c;
  border: 1px solid #ddd;
  background: #FFF;
  text-transform: uppercase;
  font-size:14px;
  cursor: pointer;
  }
  */
  /* Изменения стиля заголовков вкладок при наведении */
  label:hover {
  color: #888;
  cursor: pointer;
  }
  /* Стили для активной вкладки */
  input:checked + label {
  color: ##404040;
  border: 1px solid #ddd;
  }
  input:checked + label.bbc-label-passenger{
  background: #fff;
  border-bottom: 1px solid #fff;
  cursor: auto;
  border-top: 2px solid #00b588;
  }
  input:checked + label.bbc-label-driver{
  background: #FFF;
  border-bottom: 1px solid #FFF;
  border-top: 2px solid #00b588;
  }
  #passenger:checked ~ #content-passenger,
  #driver:checked ~ #content-driver {
  display: block;
  }
  .bbc-logo {
  text-align: center;
  margin: 5px 0 0.5%;
  }
  .bbc-logo img{
  display:inline;}
  .bbc-widget-static table tr td{
  padding:0;
  border:0;
  }
.bbc-widget-border
  .bbc-widget-static
    #bbc-widget-container.bbc-widget-tabs
      input#driver.bbc-input-none(type='radio', name='tabs', checked='')
      label.bbc-label-driver(for='driver', title='Водителям') Водителям
      input#passenger.bbc-input-none(type='radio', name='tabs')
      label.bbc-label-passenger(for='passenger', title='Пассажирам') Пассажирам
      section#content-passenger.section-display-none
        .passenger.bbc-bg
          #bbc-widget-header
            .bbc-logo
              a(href='https://www.blablacar.ru/naydi-poputchikov?utm_source=WID-FREE&utm_medium=other&utm_content=widget&utm_campaign=RU_WID-FREE_ALL_WRECORDS&comuto_cmkt=RU_WID-FREE_ALL_WRECORDS', target='_blank')
                img.bbc-pix-image.bbc-logo-image(src='https://s3-eu-west-1.amazonaws.com/blogstatics/images/ukraine/partners/pix.png', alt='BlaBlaCar - поиск надёжных попутчиков')
                br
            h1#bbc-widget-title-second-line
              | Путешествуйте дешевле
              br
              | с надёжными водителями!
          #bbc-widget-content
            form#bbc-widget-form(action='https://www.blablacar.ru/search', method='get', target='_blank', accept-charset='utf-8')
              table(width='100%', border='0', cellspacing='0', cellpadding='0')
                tr
                  td(width='40%')
                    label#bbc-widget-label-from(for='fn') От
                    input#search_from_name(value='', type='text', name='fn', placeholder='Откуда...')
                tr
                  td
                    label#bbc-widget-label-to(for='tn') До
                    input#search_to_name.geo-autocomplete(value='', type='text', name='tn', placeholder='Куда...')
                tr
                  td
                    #bbc-layer-button
                      input(name='utm_source', type='hidden', value='WID-FREE')
                      input(name='utm_medium', type='hidden', value='other')
                      input(name='utm_campaign', type='hidden', value='RU_WID-FREE_PSGR_WID_none')
                      input(name='comuto_cmkt', type='hidden', value='RU_WID-FREE_PSGR_WID_none')
                      button#bbc-widget-button(value='Знайти поїздку', type='submit') Найти поездку
                      br
      section#content-driver.section-display-none
        .driver.bbc-bg
          #bbc-widget-header
            .bbc-logo
              a(href='https://www.blablacar.ru/naydi-poputchikov?utm_source=WID-FREE&utm_medium=other&utm_content=widget&utm_campaign=RU_WID-FREE_ALL_WRECORDS&comuto_cmkt=RU_WID-FREE_ALL_WRECORDS', target='_blank')
                img.bbc-pix-image.bbc-logo-image(src='https://s3-eu-west-1.amazonaws.com/blogstatics/images/ukraine/partners/pix.png', alt='BlaBlaCar - поиск надёжных попутчиков')
                br
            h1#bbc-widget-title-second-line
              | Экономьте до 100%, 
              br
              | путешествуя с попутчиками!
          #bbc-widget-content
            form#bbc-widget-form(action='https://www.blablacar.ru/predlozhit-novie-mesta', method='get', target='_blank', accept-charset='utf-8')
              table(width='100%', border='0', cellspacing='0', cellpadding='0')
                tr
                  td
                    label#bbc-widget-label-from(for='fn') От
                    input#bbc-widget-input-from(type='text', name='from', value='', placeholder='Откуда...')
                tr
                  td
                    label#bbc-widget-label-to(for='tn') До
                    input#bbc-widget-input-to(type='text', name='to', value='', placeholder='Куда...')
                tr
                  td
                    #bbc-layer-button
                      input(name='utm_source', type='hidden', value='WID-FREE')
                      input(name='utm_medium', type='hidden', value='other')
                      input(name='utm_campaign', type='hidden', value='RU_WID-FREE_DRVR_WID_none')
                      input(name='comuto_cmkt', type='hidden', value='RU_WID-FREE_DRVR_WID_none')
                      button#bbc-widget-button(value='Предложить поездку') Предложить поездку
                      br
// BBC END
