extends layout
block link
  - var selectedMenuItem = 'examples';
block content
  .row
    .col-xs-12.col-md-8
      header.page-header
        h2 Наши лучшие работы
          br
          small Ознакомьтесь с нашими примерами записи, сведения и мастеринга.
  each example in contents.studio['examples.json'].metadata
    .row
      .col-xs-12.col-md-8
        h3= example.caption
        iframe(width="100%" height="450" scrolling="no" frameborder="no" src= example.soundcloudUrl)
