- moment.lang('ru');
doctype html
block link
  - var selectedMenuItem = 'studio';
html(lang='ru')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
      link(rel='stylesheet', href=contents.css['main.min.css'].url)
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans|Roboto')
      link(rel="shortcut icon", type="image/png", href="/favicon.png")
  body
    #wrTopBar.navbar
      .container
        .navbar-header
          button#wrHumburgerNavigation.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#wrNavigation", aria-expanded="false")
            span.sr-only Открыть меню
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/')
            #wrLogo.navbar-brand.pull-left
              img(src= contents.img['wrlogo.png'].url)
              h1.sr-only WONDER
                br
                strong RECORDS
        #wrNavigation.collapse.navbar-collapse
          ul.nav.navbar-nav
            each menuItem in contents.layout['menu.json'].metadata
              li(class= selectedMenuItem === menuItem.id ? 'active' : '')
                a(href= menuItem.href, title= menuItem.title)= menuItem.title

    .container
      block content

      block footer
        footer#wrFooter
          p.small Wonder Records, #{new Date().getFullYear()}

    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    block customScripts
